<template>
  <div class="container">
  <section class="notification contente is-large">
    <div class="select"> <!--esto es como si fuera un contenedor-->
      <select class="dropdown_custom text" v-model="selectedCity">
        <option v-for="ciutat in llistaCiutats" v-bind:key="ciutat">{{ciutat}}</option>
      </select>
      <div  class="row mt-3">
        <div class="col-lg-6 mb-4">
          <div class="card">
            <div class="card-body">

            <CurrentWeather v-bind:ciutat-seleccionada=selectedCity></CurrentWeather>
          </div>
          </div>
        </div>


        <div class="col-lg-6 mt-4">
        <div class="card">
          <div class="card-body">
          <ForecastWeather v-bind:ciutat-seleccionada=selectedCity></ForecastWeather>
        </div>
        </div>
        </div>
          </div>
    </div>
  </section>
  </div>
</template>

<script>
import CurrentWeather from './CurrentWeather.vue'
import ForecastWeather from './ForecastWeather.vue'

export default {
  name: "InfoMeteo",
  props:{
    llistaCiutats:Array
  },
  data: function () {
    return {
      selectedCity:this.llistaCiutats[0]

    }
  },

  components:{
    CurrentWeather,
    ForecastWeather
  }

}

</script>

<style scoped>

</style>