<template>
  <div id="app">
    <h1 class="title container">City Weather </h1>
    <InfoMeteo class="separacion" v-bind:llista-ciutats="europa"></InfoMeteo>
    <InfoMeteo class="separacion" v-bind:llista-ciutats="asia"></InfoMeteo>
  </div>
</template>

<script>
import InfoMeteo from './components/InfoMeteo.vue'

export default {
  name: 'App',
  data: function () {
    return {
      continenteSel:"Europa",
      continentes:[
        'Europa',
        'Asia',
        'Africa',
        'America',
        'Oceania'],
      europa: [
        "Barcelona",
        "Lleida",
        "Zaragoza",
        "Sevilla",
        "Madrid",
        "Paris",
        "Moscow"
      ],
      asia:[
        "Lahore",
        "Beijing",
        "Kabul",
        "Tehran"
      ],
      america:[
        'New york',
        'Toronto',
        'Bogota',
        'Medellin'
      ],
      oceania:[
        'Sydney',
        'Melbourne',
        'Brisbane',
        'Newcastle'
      ],
      africa:[
        'Cairo',
        'Capetown',
        'Nairobi',
        'Pretoria'
      ]
    }
  },
  components:{
   InfoMeteo
  }

}
</script>

<style>


</style>
